{% extends "base.html" %}
{% block title %}Blog - User Account{% endblock %}

{% block style_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block page_content %}
<div class="page-header">
    {# 使用模型的gravatar方法生成头像链接, 直接放在img中 #}
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {# 用户是否定义了名字或地址, 有则显示 #}
        {% if user.name or user.location %}
        <p>
            {% if user.name %} {{ user.name }} {% endif %}
            {% if user.location %}
                Form <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
        </p>
        {% endif %}
        {# 当前用户是否是管理员, 是则显示用户的邮件地址 #}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {# 用户是否有简介, 有则显示 #}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            {# 显示用户的注册时间和最近登录时间, 使用flask_moment渲染 #}
            Member since {{ moment(user.member_since).format("L") }}.
            Last seen {{ moment(user.last_seen).fromNow() }}
        </p>
        {# 确保只有当用户查看自己的资料时才显示这个链接 #}
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑资料</a>
        {% endif %}
        {# 如果当前用户是管理员, 会显示管理员使用的编辑按钮 #}
        {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        {% endif %}
        {# 用户关注相关信息 #}
        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            {# 关注按钮, 取消关注按钮 #}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
            {% else %}
            <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-primary">Unfollow</a>
            {% endif %}
        {% endif %}
        {# 关注该账号的人数, 该账号关注的人数 #}
        <a href="{{ url_for('.followers', username=user.username) }}">
            Followers: <span class="badge">{{ user.followers.count() }}</span>
        </a>
        <a href="{{ url_for('.followed_by', username=user.username) }}">
            Following: <span class="badge">{{ user.followed.count() }}</span>
        </a>
        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
        | <span class="label label-default">Folllows you</span>
        {% endif %}
    </div>
</div>
{# 显示用户对应文章 #}
<h3>Post by {{ user.username }}</h3>
{% include "_post.html" %}
{% endblock %}